body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'LoveCraft';
  src: url(fonts/LoveCraft.ttf);
}
@font-face {
  font-family: 'Meslo';
  src: url(fonts/Meslo.ttf);
}
