body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: 'Lovecraft';
  src: local('Lovecraft'),
    url(../src/components/utils/fonts/Love\ Craft.ttf) format('ttf');
}
